@import '../../index.scss';

.catalog {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 18px 40px;
    &__nav {
        width: 30%;
        &__location {
            color: $bg;
        }
        &__title {
            color: $dark;
        }
        &__filter {
            color: $dark;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        width: 70%;
        * { cursor: pointer; }
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 8px;
            padding: 8px 12px;
            background-color: white;

            &__img {
                position: relative;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: calc(100% + 24px);
                height: 30vh;
            }
            &__sale {
                position: absolute;
                background-color: $bg;
                color: $light;
                top: 8px;
                left: 8px;
                border-radius: 4px;
                padding: 4px;
            }

            > p {
                width: 100%;
            }
            &__title {
                font-size: 18px;
            }
            &__oldprice {
                color: $semitone;
                text-decoration: line-through;
                margin: 4px 0;
            }
            &__price {
                font-weight: 600;
            }
        }
    }
}