@import '../../index.scss';

.catalog {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 18px 40px;
    &__nav {
        width: 30%;
        &__location {
            color: $bg;
        }
        &__title {
            color: $dark;
        }
        &__filter {
            color: $dark;
        }
    }

    &__list {
        width: 70%;
        &__item {
            width: 30vw;
            &__img {
                width: 100%;
                height: 30vh;
            }
            &__sale {
                background-color: $bg;
            }
            &__title {
                font-size: 18px;
            }
            &__price {
                font-weight: 600;
            }
        }
    }
}